# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.bulk-sequence-file-renamer.iml
# Datasource local storage ignored files
/../../../../../../../:\GitKraken\CSharp\bulk-sequence-file-renamer\.idea\.idea.bulk-sequence-file-renamer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
